# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Testing & Linting cache
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables & secrets
.env
.env.*
!.env.example

# Certificates & private keys
*.pem
*.key

# Build & packaging artifacts
build/
dist/
*.egg-info/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3


# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform crash logs
crash.log
crash.*.lognode_modules/
